{% extends 'base.html' %}

{% block title %}
{{ object }} класс
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
    <div class="card mb-3">
        {% for teacher in teachers %}
        <div class="card-header">{{ teacher.position }}: <a href="{{ teacher.get_absolute_url }}"> {{ teacher }}</a></div>
        {% endfor %}
        <div class="card-header">Ученики {{ classroom }} класса:</div>
        <div class="card-body">
            {% for boy in schoolboy %}
            <h5>{{ forloop.counter }}. <a href="{{ boy.get_absolute_url }}">{{ boy }}</a><br/></h5>
            {% endfor %}
        </div>
    </div>
{% endblock %}
