{% extends 'base.html' %}

{% block title %}
Рассадка {{ classroom }} класса
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
<style type="text/css">
   #maket {
    width: 100%; /* Ширина всей таблицы */
    margin-left: 0.5%;
    margin-top: 0.5%; /* Отступ сверху */
   }
   TD {
    vertical-align: top; /* Вертикальное выравнивание в ячейках */
    padding: 5px; /* Поля вокруг ячеек */
   }
   TD#leftcol {
    width: 200px; /* Ширина левой колонки */
    background: #AFEEEE; /* Цвет фона левой колонки */
    border: 1px solid #000; /* Параметры рамки */
   }
   #spacer {
    width: 10px; /* Расстояние между колонками */
    margin-left: 100%;
   }
img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 90px; /* Set a small width */
}
/* Add a hover effect (blue shadow) */
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


</style>

<div class="card mb-3">
    <div class="card-header"><h5>Редакитрование рассадки для {{ classroom }} класса {{ pk }}</h5>

        <a href="{% url 'schoolboy' %}"
           class="btn btn-outline-secondary">Назад</a>
        {% if request.user.is_authenticated %}
        <a href="#"
           class="btn btn-outline-secondary">Сохранить </a>
        {% endif %}
    </div>

    <table cellspacing="0" id="maket">
        <tr>
            {% for boy in desk_6 %}
            <td id="leftcol">
                <div align="center">

                    {{ boy }}
                    {% if request.user.is_authenticated %}
                    {% if boy.energy %}
                    <h5>Активный</h5>
                    {% endif %}
                    {% endif %}
                </div>

            </td>
            <td id="spacer"></td>
            {% endfor %}
        </tr>
        <td id="spacer"></td>
        <tr class="cell">
            {% for boy in desk_5 %}
            <td id="leftcol">
                <div align="center">

                    {{ boy }}
                    {% if request.user.is_authenticated %}
                    {% if boy.energy %}
                    <h5>Активный</h5>
                    {% endif %}
                    {% endif %}
                </div>

                <br>
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Заменить
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {% for boy in desk_5 %}
                        <li><a class="dropdown-item" href="{% url 'boy_location_update' boy.slug %}">{{ boy }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

            </td>
            <td id="spacer"></td>
            {% endfor %}
        </tr>
        <td id="spacer"></td>
        <tr>
            {% for boy in desk_4 %}
            <td id="leftcol">
                <div align="center">

                    {{ boy }}
                    {% if request.user.is_authenticated %}
                    {% if boy.energy %}
                    <h5>Активный</h5>
                    {% endif %}
                    {% endif %}
                </div>

                <br>
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Заменить
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {% for boy in desk_4 %}
                        <li><a class="dropdown-item" href="{% url 'boy_location_update' boy.slug %}">{{ boy }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

            </td>
            <td id="spacer"></td>
            {% endfor %}
        </tr>
        <td id="spacer"></td>
        <tr>
            {% for boy in desk_3 %}
            <td id="leftcol">
                <div align="center">

                    {{ boy }}
                    {% if request.user.is_authenticated %}
                    {% if boy.energy %}
                    <h5>Активный</h5>
                    {% endif %}
                    {% endif %}
                </div>

                <br>
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Заменить
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {% for boy in desk_3 %}
                        <li><a class="dropdown-item" href="{% url 'boy_location_update' boy.slug %}">{{ boy }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

            </td>
            <td id="spacer"></td>
            {% endfor %}
        </tr>
        <td id="spacer"></td>
        <tr>
            {% for boy in desk_2 %}
            <td id="leftcol">
                <div align="center">

                    {{ boy }}
                    {% if request.user.is_authenticated %}
                    {% if boy.energy %}
                    <h5>Активный</h5>
                    {% endif %}
                    {% endif %}
                </div>

                <br>
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Заменить
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {% for boy in desk_2 %}
                        <li><a class="dropdown-item" href="{% url 'boy_location_update' boy.slug %}">{{ boy }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

            </td>
            <td id="spacer"></td>
            {% endfor %}
        </tr>
        <td id="spacer"></td>
        <tr>
            {% for boy in desk_1 %}
            <td id="leftcol">
                <div align="center">

                    {{ boy }}
                    {% if boy.energy %}
                    {% if request.user.is_authenticated %}
                    <h5>Активный</h5>
                    {% endif %}
                    {% endif %}
                </div>

                <br>
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Заменить
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {% for boy in desk_1 %}
                        <li><a class="dropdown-item" href="{% url 'boy_location_update' boy.slug %}">{{ boy }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

            </td>
            <td id="spacer"></td>
            {% endfor %}
        </tr>
    </table>

</div>
{% endblock %}
