{% extends 'base.html' %}

{% block title %}
Рассадка {{ classroom }} класса
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}

<style type="text/css">
   #maket {
    width: 90%; /* Ширина всей таблицы */
    margin-left: 0.5%;
    margin-top: 0.5%; /* Отступ сверху */
   }
   TD {
    vertical-align: top; /* Вертикальное выравнивание в ячейках */
    padding: 5px; /* Поля вокруг ячеек */
   }
   TD#leftcol {
    width: 200px; /* Ширина левой колонки */
    background: #AFEEEE; /* Цвет фона левой колонки */
    border: 1px solid #000; /* Параметры рамки */
   }
   #spacer {
    width: 10px; /* Расстояние между колонками */
    margin-left: 100%;
   }
img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 90px; /* Set a small width */
}
/* Add a hover effect (blue shadow) */
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.noprint {display: none;}
body {background:#FFF; color:#000;}
a {text-decoration: underline; color:#00F;}
}
@media print {
	html, body{
		height: 297mm;
		width: 190mm;
	}
}

</style>
{% if request.user.is_authenticated %}
<div class="card mb-3">
    <div class="card-header"><h5>Печать рассадки класса</h5>
        <a href="{% url 'schoolboy' %}"
           class="btn btn-outline-secondary">Назад</a>
        <input class="btn btn-outline-secondary" type="button" value="Печать" onclick="print()">
    </div>
    <table cellspacing="0" id="maket">
        <tr>
            {% for boy in desk_6 %}
            <td id="leftcol">
                <div align="center">
                    {{ boy }}
                </div>
            </td>
            <td id="spacer"></td>
            {% endfor %}
        </tr>
        <td id="spacer"></td>
        <tr class="cell">
            {% for boy in desk_5 %}
            <td id="leftcol">
                <div align="center">
                    {{ boy }}
                </div>
            </td>
            <td id="spacer"></td>
            {% endfor %}
        </tr>
        <td id="spacer"></td>
        <tr>
            {% for boy in desk_4 %}
            <td id="leftcol">
                <div align="center">
                    {{ boy }}
                </div>
            </td>
            <td id="spacer"></td>
            {% endfor %}
        </tr>
        <td id="spacer"></td>
        <tr>
            {% for boy in desk_3 %}
            <td id="leftcol">
                <div align="center">
                    {{ boy }}
                </div>
            </td>
            <td id="spacer"></td>
            {% endfor %}
        </tr>
        <td id="spacer"></td>
        <tr>
            {% for boy in desk_2 %}
            <td id="leftcol">
                <div align="center">
                    {{ boy }}
                </div>
            </td>
            <td id="spacer"></td>
            {% endfor %}
        </tr>
        <td id="spacer"></td>
        <tr>
            {% for boy in desk_1 %}
            <td id="leftcol">
                <div align="center">
                    {{ boy }}
                </div>
            </td>
            <td id="spacer"></td>
            {% endfor %}
        </tr>
    </table>
    {% endif %}
    {% endblock %}
