{% extends 'base.html' %}

{% block title %}
{{ object.name }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
<div class="card mb-3">
    <div class="card-header">
        <h4>Ученик "{{ object.classroom }}" класса</h4>
    </div>
    <div class="card-body">
        <div class="media">
            <img src="{{ object.photo.url }}" alt="" width="350" align="left" class="mr-3" vspace="5" hspace="10">
            <div class="media-body">
                <h5 class="card-title">Имя: {{ object.name }}</h5>
                <h5 class="card-title">Дата рождения: {{ object.date_of_birth }}</h5>
                {% if request.user.is_authenticated %}
                {% if object.height %}
                <h5 class="card-title">Рост: {{ object.height }} см.</h5>
                {% endif %}
                {% if object.phone %}
                <h5 class="card-title">Контактный телефон: {{ object.phone }}</h5>
                {% endif %}
                {% if object.comment %}
                <h5 class="card-title" align="justify">Коментарии: {{ object.comment }}</h5>
                {% endif %}
                <h5 class="card-title" align="justify">Ограничения: {{ object.requirement.comment }}</h5>
                {% if object.energy %}
                <h5 class="card-title">Активность:
                    <input type="checkbox" checked>
                    {% endif %}</h5>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card-header">
            <a href="{{ object.classroom.get_absolute_url }}"
           class="btn btn-outline-secondary">Назад</a>
      {% if request.user.is_authenticated %}
     <a href="{{ object.get_update_url }}"
        class="btn btn-outline-secondary">Редактировать</a>
     <a href="{{ object.get_delete_url }}"
        class="btn btn-outline-secondary">Удалить</a>
    </div>
    {% endif %}
</div>
{% endblock %}